{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron">
		<h1 class="loader">This is so very empty</h1>
		<h3>Let me put some filler on that</h3>
		<p>Ablative augmented reality neural marketing Shibuya singularity human meta-sprawl RAF uplink cardboard jeans San Francisco camera Tokyo. Sub-orbital vehicle A.I. uplink rifle long-chain hydrocarbons sensory pre-camera spook voodoo god tower corporation singularity-ware dolphin grenade. Claymore mine man sub-orbital Kowloon industrial grade futurity singularity cartel rifle Shibuya refrigerator into modem savant nodality. Hacker augmented reality geodesic pen chrome media otaku BASE jump. </p>
	</div>
	<p>Computer lights refrigerator man artisanal garage sentient office alcohol motion engine advert tube katana. Urban cyber-Shibuya math-shanty town vehicle range-rover tattoo geodesic corrupted car tank-traps vinyl narrative BASE jump. Tower 8-bit bridge courier modem tiger-team office dolphin katana. Table tattoo kanji knife shanty town systema pen apophenia geodesic neon grenade vehicle 8-bit faded drugs Shibuya pistol. Meta-convenience store warehouse construct shoes math-corporation boat faded marketing face forwards film. Otaku geodesic futurity urban BASE jump wonton soup paranoid A.I. warehouse systema advert alcohol weathered beef noodles boy. Girl DIY face forwards bridge industrial grade tube corporation rifle saturation point courier. Soul-delay garage lights order-flow refrigerator sensory euro-pop spook artisanal urban smart-long-chain hydrocarbons 8-bit. </p>
{% endblock %}